@media only screen 
and (min-device-width: 300px)   
and (max-device-width: 600px) { 
    .saved_recipes {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid grey;
        border-radius: 12px;
        text-align: center;
        background: #D3D3D3;
    }
    .saved_recipe_card {
        align-items: center;
        margin: auto;
        padding: 0px;
    }
    .saved_recipe_card li {
        width: 75%;
        padding:12px;
        margin:6px auto;
        background:#D3D3D3;
        text-align: center;
        border: 3px black solid;
        list-style-type: none;
    }
    .saved_recipe_card img {
        height: 100px;
        width: 100px;
    }
    .title {
        font: 16px;
        font-weight: bold;
    }
    .recipe_delete {
        margin-top: 20px;
    }
}
@media only screen 
and (min-device-width: 601px) { 
    .saved {
        margin: auto;
        justify-content: center;
    }
    .saved_recipes {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid grey;
        border-radius: 12px;
        text-align: center;
        background: #D3D3D3;
    }
    .saved_recipe_card {
        justify-content: center;
        margin: auto;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .saved_recipe_card li {
        width: 30%;
        height: 400px;
        padding:14px;
        margin:12px;
        background:#D3D3D3;
        text-align: center;
        border: 3px black solid;
        list-style-type: none;
        display: inline-block;
        justify-content: space-between;
    }
    .saved_recipe_card img {
        height: 100px;
        width: 100px;
    }
    .title {
        font: 16px;
        font-weight: bold;
        height: 80px;
    }
    .recipe_delete {
        margin-top: 20px;
    }
}